*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-margin-top: 16px;
    font-family: 'switzer';
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
header, footer {
  position: sticky;
  top: 36px;
}

header {
 /* margin-top: 36px; */
 z-index: 1000;
}
.container-bg {
  /* width: 100%; */
  margin: 0 70px 0 70px;
}

.clipper-b {
  content: "";
  background: #fff;
  height: 100%;
  width: 100%;
}
.clipper-a:after {
  content: "";
  position: absolute;
  top: 17%;
  left: 0;
  height: 50px;
  width: 100%;
  /* background-color: red; */
  background: linear-gradient(to bottom right,#FFF, hsla(233, 100%, 96%, 0.485));
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  transform: rotate(-3deg);
}


#search-hero::placeholder {
  content: "Looking for";
  font-weight: bold;
  color:black
}

.gradient-a {
 background-image: linear-gradient(to bottom right, #FFF, #EDEFFF), linear-gradient(45deg, #FFF, #EDEFFF);
 /* Set the background size to cover the entire element */
}
